<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href = "@{/CSS/l0gin.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css}" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
<link th:href="@{https://fonts.googleapis.com/css2?family=Corben&display=swap}" rel="stylesheet">
<link rel="shortcut icon" th:href= "@{/IMAGES/icon.png}" type="image/x-icon" />
    <title>Registration Page</title>
</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed"
     data-toggle="collapse" data-target="#navbar" aria-expanded="false"
     aria-controls="navbar">
     <span class="sr-only">Toggle navigation</span> <span
      class="icon-bar"></span> <span class="icon-bar"></span> <span
      class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#" th:href="@{/}">Registration and
     Login Module</a>
   </div>
  </div>
 </nav>
 
 <br>
<br>
 <!-- Create HTML registration form -->
 <div class="container">
  <div class="row">
   <div class="col-md-6 col-md-offset-3">

    <!-- success message -->
    <div th:if="${param.success}">
     <div class="alert alert-info">You've successfully registered
      to our awesome app!</div>
    </div>

    <h1>Registration</h1>
    
    <form th:action="@{/registration}" method="post" th:object="${user}">
	     <div class="form-group">
	      <label class="control-label" for="firstName"> First Name </label>
	      <input id="firstName" class="form-control" th:field="*{firstName}"
	       required autofocus="autofocus" />
	     </div>
	
	     <div class="form-group">
	      <label class="control-label" for="lastName"> Last Name </label> <input
	       id="lastName" class="form-control" th:field="*{lastName}"
	       required autofocus="autofocus" />
	     </div>
	    
	     <div class="form-group">
	      <label class="control-label" for="email"> Email </label> <input
	       id="email" class="form-control" th:field="*{email}" required
	       autofocus="autofocus" />
	     </div>
	
	     <div class="form-group">
	      <label class="control-label" for="password"> Password </label> <input
	       id="password" class="form-control" type="password"
	       th:field="*{password}" required autofocus="autofocus" />
	     </div>
	     
	     <div class="form-group">
	      <button type="submit" class="btn btn-success">Register</button>
	      <span>Already registered? <a href="/" th:href="@{/login}">Login
	        here</a></span>
	     </div>
    </form>
   </div>
  </div>
 </div>
    
</body>
</html>